= simple_form_for current_user, url: user_update_password_path(current_user) do |f|
  = f.input :email, disabled: true
  = f.input :password
  = f.input :password_confirmation


  %br
    = f.submit :submit, class: 'btn btn-primary'
